/**
 * This file contains libraries that we don't want getting run through PurgeCSS
 * and instead want to ensure stay intact as much as possible.
 */
@import url('sanitize.css/sanitize.css');
@import url('sanitize.css/assets.css');
@import url('sanitize.css/system-ui.css');
@import url('sanitize.css/reduce-motion.css');
@import url('sanitize.css/typography.css');
@import url('sanitize.css/ui-monospace.css');
@import url('hint.css/hint.min.css');
@import url('@fontsource/inter/index.css');

/**
 * source: https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200
 * static alt: https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,300,0,0
 */
@font-face {
  font-family: 'Material Symbols Sharp';
  font-weight: 100 700;
  font-style: normal;
  src: url('material_symbols.woff2') format('woff2');
}

.material-symbols-sharp {
  direction: ltr;
  display: inline-block;

  font-family: 'Material Symbols Sharp', sans-serif;
  font-size: 24px;
  font-feature-settings: 'liga';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;

  -moz-osx-font-smoothing: grayscale;

  &.outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }

  &.filled {
    font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }

  &.back_arrow::after {
    content: '\e408';
  }

  &.close::after {
    content: '\e5cd';
  }

  &.external_link::after {
    content: '\e89e';
  }

  &.file_archive::after {
    content: '\e1a1';
  }

  &.file_audio::after {
    content: '\e405';
  }

  &.file_default::after {
    content: '\e66d';
  }

  &.file_image::after {
    content: '\e3f4';
  }

  &.file_pdf::after {
    content: '\f74e';
  }

  &.file_text::after {
    content: '\e873';
  }

  &.file_unknown::after {
    content: '\f804';
  }

  &.file_video::after {
    content: '\e04b';
  }

  &.folder::after {
    content: '\e2c7';
  }

  &.sort_asc::after {
    content: '\e5c7';
  }

  &.sort_desc::after {
    content: '\e5c5';
  }

  &.sort_duration::after {
    /*
      option 1: e425
      option 2: e01b
      option 3: f724
    */
    content: '\e425';
  }

  &.sort_last_updated::after {
    content: '\e889';
  }

  &.sort_name::after {
    content: '\f05b';
  }

  &.theme_dark::after {
    /*
      option 1: e51c
      option 2: e9b8
    */
    content: '\e51c';
  }

  &.theme_light::after {
    /*
      option 1: e518
      option 2: e0f0
    */
    content: '\e518';
  }

  &.view_grid::after {
    content: '\e9b0';
  }

  &.view_list::after {
    /*
      option 1: e896
      option 2: e8ef
      option 3: e241
    */
    content: '\e241';
  }
}

#nprogress {
  --nprogress-color: rgb(221 34 34);

  & .bar {
    background: var(--nprogress-color);
  }

  & .peg {
    box-shadow: 0 0 10px var(--nprogress-color), 0 0 5px var(--nprogress-color);
  }

  & .spinner {
    top: 15px;
    right: 0;
    left: 15px;
  }

  & .spinner-icon {
    border-top-color: var(--nprogress-color);
    border-left-color: var(--nprogress-color);
  }
}
