/**
 * This file contains libraries that we don't want getting run through PurgeCSS
 * and instead want to ensure stay intact as much as possible.
 */
@import url('sanitize.css/sanitize.css');
@import url('sanitize.css/assets.css');
@import url('sanitize.css/system-ui.css');
@import url('sanitize.css/reduce-motion.css');
@import url('sanitize.css/typography.css');
@import url('sanitize.css/ui-monospace.css');
@import url('hint.css/hint.min.css');
@import url('@fontsource-variable/inter');
@import url('@fontsource-variable/inter/slnt.css');

#nprogress {
  --nprogress-color: rgb(221 34 34);

  & .bar {
    display: none;
  }

  & .peg {
    box-shadow: 0 0 10px var(--nprogress-color), 0 0 5px var(--nprogress-color);
  }

  & .spinner {
    top: 15px;
    right: 0;
    left: 15px;
  }

  & .spinner-icon {
    border-top-color: var(--nprogress-color);
    border-left-color: var(--nprogress-color);
  }
}

#preview-dialog {
  & .plyr {
    --plyr-color-main: rgb(187 36 36);
    --plyr-tooltip-background: #3c3c3c;
    --plyr-tooltip-color: #eceff4;
    --plyr-font-family: 'Inter Variable', sans-serif;
    --plyr-tooltip-padding: 4px;

    max-height: 100%;

    & .plyr__controls {
      & input {
        cursor: pointer;
      }

      & .plyr__volume input[type='range'] {
        min-width: 60px;
        max-width: 60px;

        /* Breakpoint used by Plyr */
        @media (width <= 767px) {
          display: none;
        }
      }
    }
  }
}
