@import url('@fontsource/inter/index.css');
@import url('../lib/fa_kit/css/all.min.css');

/*
 * Example Usage:
 *
 * @media (--desktop) {
 *   // styles that will only apply to desktop sizes
 * }
 *
 * @media (--mobile) {
 *   // styles that will only apply to mobile sizes
 * }
 */
@custom-media --mobile (width <= 767px);
@custom-media --desktop (width >= 768px);

:root {
  --bg-color: #f3f5f8;
  --text-color: #000;
  --text-color-muted-hard: rgb(0 0 0 / 25%);
  --text-color-muted: rgb(0 0 0 / 50%);
}

html.dark {
  --bg-color: #111317;
  --text-color: #eaefef;
  --text-color-muted-hard: rgb(234 239 239 / 25%);
  --text-color-muted: rgb(234 239 239 / 50%);
}

* {
  font-family: Inter, sans-serif;
}

html,
body {
  height: 100vh;
  max-height: 100vh;

  font-family: Inter, sans-serif;
  color: var(--text-color);

  background-color: var(--bg-color);
}

a {
  display: inline-flex;
  gap: 0.5rem;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  height: 20px;

  color: var(--text-color);
  text-decoration: none;
}

[class^="fa-"],
[class*="fa-"] {
  font-size: 1.5rem;
}

main {
  overflow-y: auto;
  height: calc(100% - 88px - 34px);
  padding: 2rem;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  height: 88px;
  padding: 32px;

  > span {
    &.nav-separator {
      &::after {
        content: '|';
        user-select: none;

        margin: 0 0.5rem;

        font-size: 0.75rem;
        color: var(--text-color-muted-hard);
      }
    }
  }

  > a {
    color: var(--text-color-muted-hard);

    &:hover {
      color: var(--text-color-muted);
    }

    &.active {
      color: var(--text-color);
    }

    [class^="fa-"],
    [class*="fa-"] {
      font-size: 2rem;
    }
  }
}

#breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;

  height: 34px;
  padding: 0.25rem 2rem;

  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);

  > ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    list-style-type: none;

    > li {
      display: inline;

      &.bc-separator {
        &::after {
          content: '/';
          user-select: none;
          color: var(--text-color-muted-hard);
        }
      }

      > * {
        border-bottom: 1px solid transparent;
      }

      > a {
        color: var(--text-color-muted);

        &:hover {
          border-bottom-color: var(--text-color);
        }
      }
    }
  }
}

.meta,
.meta:hover {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;

  font-size: 0.75rem !important;
  color: var(--text-color-muted);
  white-space: nowrap;

  > [class^="fa-"],
  > [class*="fa-"] {
    font-size: 0.85rem !important;
  }
}

#theme-toggle,
#theme-toggle:hover {
  --toggle-size: 20px;

  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--toggle-size);
  height: var(--toggle-size);

  color: var(--text-color);

  > [class^="fa-"],
  > [class*="fa-"] {
    font-size: var(--toggle-size);
  }
}

#list-view {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    width: 100%;
    height: fit-content;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    > a {
      width: 100%;
      max-width: 100%;
      height: fit-content;

      &:hover {
        .meta {
          color: var(--text-color);
        }

        @media (--mobile) {
          border-color: var(--text-color);
        }
      }

      @media (--desktop) {
        flex-wrap: nowrap;
        gap: 1rem;

        .list-main-wrapper {
          display: flex;
          gap: 0.75rem;
          align-items: center;
        }

        .list-meta-wrapper {
          display: flex;
          gap: 1rem;
          align-items: center;
        }
      }

      @media (--mobile) {
        flex-wrap: wrap;
        padding: 0.5rem;
        border: 1px solid var(--text-color-muted-hard);

        .list-main-wrapper {
          display: flex;
          flex: 1 0 100%;
          flex-wrap: nowrap;
          gap: 0.5rem;
          align-items: center;

          width: 100%;

          span {
            --icon-width: 24px;

            &.list-view-icon {
              flex: 0 1 0;
              width: var(--icon-width);
            }

            &.list-view-name {
              overflow-x: clip;
              flex: 1 1 0;

              width: auto;
              max-width: calc(100% - 0.5rem - var(--icon-width));

              text-overflow: ellipsis;
              word-break: normal;
              word-wrap: normal;
              white-space: nowrap;
            }
          }
        }

        .list-meta-wrapper {
          display: flex;
          flex: 1 0 100%;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-evenly;

          width: 100%;

          > .list-meta-separator {
            display: inline-flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

            &::after {
              content: '|';
              user-select: none;
              font-size: 0.5rem;
              color: var(--text-color-muted-hard);
            }
          }
        }
      }
    }
  }
}

#grid-view {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  > a {
    display: block;
    flex-basis: auto;

    aspect-ratio: 1;

    /*
    width: 200px;
    height: 200px;
    */
    width: calc((100% / 6) - 0.85rem);
    height: auto;

    text-align: center;

    border: 1px solid var(--text-color-muted-hard);

    &:hover {
      border-color: var(--text-color);

      .meta {
        color: var(--text-color);
      }
    }

    div {
      [class^="fa-"],
      [class*="fa-"] {
        font-size: 3rem;
      }
    }

    &.content-card {
      > div {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        padding: 0.5rem;

        font-size: 1rem;

        > img {
          width: 100%;
          height: auto;
          max-height: 100%;
          object-fit: contain;
        }

        > div {
          &.thumbnail {
            flex: 1 0 0;
            width: 100%;
            max-width: 100%;
            height: 0;

            > img {
              width: auto;
              max-width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          &.meta {
            justify-content: center;
          }

          &:not(.thumbnail) {
            overflow-x: clip;
            flex: 0 1 0;

            width: 100%;
            max-width: 100%;
            height: fit-content;

            text-overflow: ellipsis;
            word-break: normal;
            word-wrap: normal;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media (--mobile) {
  div#grid-view {
    > a {
      width: calc((100% / 2) - 0.5rem);

      div {
        font-size: 1rem;

        [class^="fa-"],
        [class*="fa-"] {
          font-size: 2rem;
        }
      }
    }
  }
}

/* stylelint-disable no-duplicate-selectors -- Adding these to the top heavily messes up specificity */
html.dark {
  #breadcrumbs {
    border-top-color: var(--text-color-muted-hard);
    border-bottom-color: var(--text-color-muted-hard);
  }

  #grid-view {
    > a:hover {
      border-color: var(--text-color-muted);
    }
  }
}
/* stylelint-enable no-duplicate-selectors */
