@import 'sanitize.css/sanitize.css';
// ---
@import 'sanitize.css/assets.css';
@import 'sanitize.css/forms.css';
@import 'sanitize.css/reduce-motion.css';
@import 'sanitize.css/system-ui.css';
@import 'sanitize.css/typography.css';
@import 'sanitize.css/ui-monospace.css';
// ---
@import '@fontsource/inter/index.css';
@import 'remixicon/fonts/remixicon.css';

/*
 * Example Usage:
 *
 * @include desktop() {
 *   // styles that will only apply to desktop sizes
 * }
 *
 * @include mobile() {
 *   // styles that will only apply to mobile sizes
 * }
 */

@mixin mobile() {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

/******************************************************/

:root {
  --bg-color: #eceff3;
  --text-color: black;
  --text-color-muted: rgba(0, 0, 0, 0.25);
}

html.dark {
  --text-color: #eceff3;
  --bg-color: black;
}

/******************************************************/

* {
  font-family: 'Inter', sans-serif;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}

main {
  padding: 2rem;
}

a {
  align-content: center;
  align-items: center;
  color: var(--text-color);
  display: inline-flex;
  gap: 0.5rem;
  height: 20px;
  justify-content: flex-start;
  text-decoration: none;
}

[class^="ri-"],
[class*="ri-"] {
  font-size: 1.5rem;
}

nav {
  padding: 2rem;
  text-align: center;

  a {
    opacity: 0.25;

    &:hover {
      opacity: 0.5;
    }

    &.active {
      opacity: 1;
    }

    &:not(:first-of-type) {
      margin-left: 0.5rem;
    }

    [class^="ri-"],
    [class*="ri-"] {
      font-size: 2rem;
    }
  }
}

#breadcrumbs {
  border-bottom: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
  display: block;
  padding: 0.25rem 2rem;

  > ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline;

      &:not(.bc-separator) {
        opacity: 0.5;
      }

      &#current-location {
        opacity: 1;
      }

      span {
        padding-bottom: 4px;
      }

      a {
        padding-bottom: 4px;

        &:hover {
          border-bottom: 2px solid var(--text-color);
        }
      }

      [class^="ri-"],
      [class*="ri-"] {
        font-size: 1.25rem !important;
      }
    }
  }
}

.meta,
.meta:hover {
  align-items: center;
  color: var(--text-color);
  display: inline-flex;
  font-size: 0.75rem !important;
  gap: 0.25rem;
  opacity: 0.5;
  white-space: nowrap;

  [class^="ri-"],
  [class*="ri-"] {
    font-size: 0.85rem !important;
  }
}

#list-view {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    height: fit-content;
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    a {
      height: fit-content;
      max-width: 100%;
      width: 100%;

      @include mobile() {
        border: 1px solid var(--text-color-muted);
        padding: 0.5rem;
      }

      &:hover {
        @include mobile() {
          border-color: var(--text-color);
        }

        .meta {
          opacity: 1;
        }
      }

      @include desktop() {
        flex-wrap: nowrap;
        gap: 1rem;

        .list-main-wrapper {
          align-items: center;
          display: flex;
          gap: 0.75rem;
        }

        .list-meta-wrapper {
          align-items: center;
          display: flex;
          gap: 1rem;
        }
      }

      @include mobile() {
        flex-wrap: wrap;

        .list-main-wrapper {
          align-items: center;
          display: flex;
          flex-wrap: nowrap;
          flex: 1 0 100%;
          gap: 0.5rem;
          width: 100%;

          span {
            &.list-view-icon {
              flex: 0 1 fit-content;
              width: fit-content;
            }

            &.list-view-name {
              flex: 1 1 0;
              overflow-x: clip;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: auto;
              word-break: normal;
              word-wrap: normal;
            }
          }
        }

        .list-meta-wrapper {
          align-items: center;
          display: flex;
          flex-wrap: nowrap;
          flex: 1 0 100%;
          gap: 0.5rem;
          text-align: center;
          width: 100%;

          span {
            &.meta {
              display: inline-block;
              flex: 1 0 50%;
              width: calc(50% - 0.5rem);
            }
          }
        }
      }
    }
  }
}

#grid-view {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;

  > a {
    border: 1px solid var(--text-color-muted);
    display: block;
    flex-basis: auto;
    height: 200px;
    text-align: center;
    width: 200px;

    &:hover {
      border-color: var(--text-color);

      .meta {
        opacity: 1;
      }
    }

    div {
      [class^="ri-"],
      [class*="ri-"] {
        font-size: 3rem;
      }
    }

    &.nav-card {
      > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        height: 100%;
        justify-content: center;
        width: 100%;

        > div {
          max-width: 100%;
          overflow-x: clip;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: normal;
          word-wrap: normal;
        }
      }
    }

    &.content-card {
      > div {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        gap: 0.25rem;
        height: 100%;
        justify-content: center;
        padding: 0.5rem;
        width: 100%;

        > img {
          height: auto;
          max-height: 100%;
          object-fit: contain;
          width: 100%;
        }

        > div {
          &.thumbnail {
            flex: 1 0 0;
            height: 0;
            max-width: 100%;
            width: 100%;

            > img {
              height: 100%;
              max-width: 100%;
              object-fit: contain;
              width: auto;
            }
          }

          &.meta {
            justify-content: center;
          }

          &:not(.thumbnail) {
            flex: 0 1 0;
            height: fit-content;
            max-width: 100%;
            overflow-x: clip;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            word-break: normal;
            word-wrap: normal;
          }
        }
      }
    }
  }
}

@include mobile() {
  div#grid-view {
    > a {
      flex: 0 0 calc(50% - 1rem);
      width: calc(50% - 1rem);

      div {
        font-size: 1rem;

        [class^="ri-"],
        [class*="ri-"] {
          font-size: 2rem;
        }
      }
    }
  }
}
