/*
 * Example Usage:
 *
 * @media (--desktop) {
 *   // styles that will only apply to desktop sizes
 * }
 *
 * @media (--mobile) {
 *   // styles that will only apply to mobile sizes
 * }
 */
@custom-media --mobile (width <= 767px);
@custom-media --desktop (width >= 768px);

:root {
  --bg-color: #f3f5f8;
  --bg-color-hover: #d4dbe6;
  --text-color: #000;
  --text-color-muted-hard: rgb(0 0 0 / 25%);
  --text-color-muted: rgb(0 0 0 / 50%);
  --border-color: var(--text-color-muted-hard);
}

html.dark {
  --bg-color: #121212;
  --bg-color-hover: #212121;
  --text-color: rgb(228 228 228); /* #c5c8c6 */
  --text-color-muted-hard: rgb(228 228 228 / 20%);
  --text-color-muted: rgb(228 228 228 / 35%);
  --border-color: var(--text-color-muted-hard);
}

* {
  font-family: Inter, sans-serif;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;

  font-family: Inter, sans-serif;
  color: var(--text-color);

  background-color: var(--bg-color);

  &.dialog-open {
    overflow: hidden;
  }
}

a {
  display: inline-flex;
  gap: 0.5rem;
  place-content: center flex-start;
  align-items: center;

  height: 20px;

  color: var(--text-color);
  text-decoration: none;
}

[class^="fa-"],
[class*="fa-"] {
  font-size: 1.5rem;
}

main {
  z-index: 100;

  /* 122px from the top (nav + bread) + 32 for padding */
  padding: 154px 32px 32px;
}

nav {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;

  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 88px;
  padding: 0 32px;

  background-color: var(--bg-color);

  & > span {
    &.nav-separator {
      &::after {
        content: '|';
        user-select: none;

        margin: 0 0.5rem;

        font-size: 0.75rem;
        color: var(--text-color-muted-hard);
      }
    }
  }

  & > a {
    color: var(--text-color-muted-hard);

    &[class*="hint--"] {
      display: inline-flex;
    }

    &:hover {
      color: var(--text-color-muted);
    }

    &.active {
      color: var(--text-color);
    }

    & [class^="fa-"],
    & [class*="fa-"] {
      font-size: 2rem;
    }
  }
}

#breadcrumbs {
  scrollbar-color: transparent transparent;

  position: fixed;
  z-index: 300;
  top: 88px;
  left: 0;

  overflow-x: auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 34px;
  padding: 0 32px;

  background-color: var(--bg-color);
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);

  &::-webkit-scrollbar {
    display: none;
  }

  & > ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;

    margin: 0;
    padding: 0;

    list-style-type: none;

    & > li {
      display: inline;
      white-space: nowrap;

      &.bc-separator {
        &::after {
          content: '/';
          user-select: none;
          color: var(--text-color-muted-hard);
        }
      }

      & > * {
        border-bottom: 1px solid transparent;
      }

      & > a {
        color: var(--text-color-muted);

        &:hover {
          border-bottom-color: var(--text-color);
        }
      }
    }
  }
}

.meta,
.meta:hover {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;

  font-size: 0.75rem !important;
  color: var(--text-color-muted);
  white-space: nowrap;

  & [class^="fa-"],
  & [class*="fa-"] {
    width: 10px;
    height: 10px;
  }
}

.separator {
  pointer-events: none;
  font-size: 0.75rem;
  color: var(--text-color-muted);
}

#list-view {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;

  & .list-view--entry {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: auto;
    padding: 0.5rem;

    border-bottom: 1px solid var(--border-color);

    &:hover {
      background-color: var(--bg-color-hover);
    }

    &:first-of-type {
      border-top: 1px solid var(--border-color);
    }

    & .list-view--entry__left {
      display: flex;
      flex: 0 1 30px;
      align-items: center;
      justify-content: center;
    }

    & .list-view--entry__right {
      display: flex;
      flex: 1 0 0;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: center;

      width: 90%;

      & .list-view--entry-cell__right-top {
        width: 100%;

        & .list-view--entry-cell__name {
          overflow-x: clip;

          width: 100%;
          height: fit-content;

          text-overflow: ellipsis;
          word-break: normal;
          word-wrap: normal;
          white-space: nowrap;
        }
      }

      & .list-view--entry-cell__right-bottom {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
      }
    }

    /* & .list-view--entry-cell {

    } */
  }
}

#theme-toggle,
#theme-toggle:hover {
  --toggle-size: 20px;

  position: fixed;
  z-index: 400;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--toggle-size);
  height: var(--toggle-size);

  color: var(--text-color);

  & > [class^="fa-"],
  & > [class*="fa-"] {
    font-size: var(--toggle-size);
  }
}

#grid-view {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  place-content: center flex-start;
  align-items: center;

  & .content-card {
    display: block;
    flex-basis: auto;

    aspect-ratio: 1;

    /*
    width: 200px;
    height: 200px;
    */
    width: calc((100% / 6) - 0.85rem);
    height: auto;

    text-align: center;

    border: 1px solid var(--text-color-muted-hard);

    &:hover {
      border-color: var(--text-color);

      & .meta {
        color: var(--text-color);
      }
    }

    & .content-card--inner-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;
      padding: 0.5rem;

      font-size: 1rem;

      & .thumbnail {
        display: flex;
        flex: 1 0 0;
        align-items: center;
        justify-content: center;

        width: 100%;
        max-width: 100%;
        height: 0;

        & img {
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 100%;

          object-fit: contain;
        }

        & [class^="fa-"],
        & [class*="fa-"] {
          font-size: 4rem;
        }
      }

      & .name {
        overflow-x: clip;
        flex: 0 1 0;

        width: 100%;
        max-width: 100%;
        height: fit-content;

        text-overflow: ellipsis;
        word-break: normal;
        word-wrap: normal;
        white-space: nowrap;
      }

      & .grid-meta-wrapper {
        overflow: clip;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;

        width: 100%;
      }
    }

    @media (--mobile) {
      width: calc((100% / 2) - 0.5rem);

      & .content-card--inner-wrapper {
        font-size: 1rem;

        & .thumbnail {
          & [class^="fa-"],
          & [class*="fa-"] {
            font-size: 2rem;
          }
        }

        & .grid-meta-wrapper {
          flex-direction: column-reverse;
          gap: 0;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }
    }
  }
}

/* Preview Dialog */

#preview-dialog {
  position: fixed;
  z-index: 1000;

  display: none;

  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;

  &::backdrop {
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 85%);
  }

  &[open] {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .dialog-close,
  & .dialog-new-tab {
    cursor: pointer;

    position: fixed;
    z-index: 1001;
    top: 15px;

    width: 24px;
    height: 24px;

    color: #f3f5f8;

    background: none;
    border: none;
  }

  & .dialog-close {
    right: 20px;
  }

  & .dialog-new-tab {
    right: 60px;
  }

  & img,
  & video {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;

    object-fit: contain;
  }

  & img {
    cursor: pointer;
  }
}

/* hint.css customizations */

[class*="hint--"]::after {
  padding: 4px;
  color: #eceff4;
  background: #000;
}

.hint--no-animate {
  &::after, &::before {
    transition: none;
  }
}

.hint--bottom {
  &::after, &::before {
    top: 125%;
    border-bottom-color: #000;
  }
}

/* stylelint-disable no-duplicate-selectors -- Adding these to the top heavily messes up specificity */
html.dark {
  & #breadcrumbs {
    border-top-color: var(--text-color-muted-hard);
    border-bottom-color: var(--text-color-muted-hard);
  }

  & #grid-view {
    & > a:hover {
      border-color: var(--text-color-muted);
    }
  }

  & [class*="hint--"]::after {
    color: var(--text-color);
    background: #3c3c3c;
  }

  & .hint--bottom {
    &::after,
    &::before {
      border-bottom-color: #3c3c3c;
    }
  }
}
/* stylelint-enable no-duplicate-selectors */
