<div id='grid-view' class='{{view_param}}'>
  {{#each files}}
    {{#if this.external_url}}
    <a class='content-card' href='{{this.external_url}}' target='_blank' rel='noopener noreferrer' referrerpolicy='no-referrer' title='{{this.name}}'>
    {{else}}
    <a
      class='{{this.type}}-thumbnail content-card'
      href='{{this.path}}'
      title='{{this.name}}'
      {{#if (or
        (eq this.type "image")
        (eq this.type "video"))}}
        data-src='{{this.path}}'
      {{/if}}
      {{#if this.src}}
        data-poster='{{this.src}}'
      {{else if this.thumbnail}}
        data-poster='{{this.thumbnail}}'
      {{/if}}
    >
    {{/if}}
      <div class='content-card--inner-wrapper'>
        <div class='thumbnail'>
          {{#if this.src}}
            <img src='{{this.src}}'>
          {{else if this.thumbnail}}
            <img src='{{this.thumbnail}}'>
          {{else}}
            <span>{{{this.icon}}}</span>
          {{/if}}
        </div>

        {{#if this.name}}
          <div class='name'>
            {{this.name}}
          </div>
        {{/if}}

        {{#if (or this.duration this.last_updated)}}
          <div class='grid-meta-wrapper'>
            {{#if this.last_updated}}
              <div class='meta' title='{{this.last_updated.absolute}}'>
                <svg class='lucide lucide-history' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'>
                  <path d='M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8'/>
                  <path d='M3 3v5h5'/>
                  <path d='M12 7v5l4 2'/>
                </svg>
                <span>{{this.last_updated.relative}}</span>
              </div>
            {{/if}}
            {{#if this.duration}}
              <div class='meta' title='{{this.duration.long}}'>
                <svg class='lucide lucide-timer' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'>
                  <line x1='10' x2='14' y1='2' y2='2'/>
                  <line x1='12' x2='15' y1='14' y2='11'/>
                  <circle cx='12' cy='14' r='8'/>
                </svg>
                <span>{{this.duration.short}}</span>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </a>
  {{/each}}
</div>
