<div id='grid-view'>
  {{#each files}}
    {{#if this.external_url}}
    <a class='content-card' href='{{this.external_url}}' target='_blank' rel='noopener noreferrer' referrerpolicy='no-referrer' title='{{this.name}}'>
    {{else}}
    <a
      class='{{this.type}}-thumbnail content-card'
      href='{{this.path}}'
      title='{{this.name}}'
      {{#if (or
        (eq this.type "image")
        (eq this.type "video"))}}
        data-src='{{this.path}}'
      {{/if}}
      {{#if this.src}}
        data-poster='{{this.src}}'
      {{else if this.thumbnail}}
        data-poster='{{this.thumbnail}}'
      {{/if}}
    >
    {{/if}}
      <div class='content-card--inner-wrapper'>
        <div class='thumbnail'>
          {{#if this.src}}
            <img src='{{this.src}}'>
          {{else if this.thumbnail}}
            <img src='{{this.thumbnail}}'>
          {{else}}
            <i class='{{this.icon}}'></i>
          {{/if}}
        </div>

        {{#if this.name}}
          <div class='name'>
            {{this.name}}
          </div>
        {{/if}}

        {{#if (or this.duration this.last_updated)}}
          <div class='grid-meta-wrapper'>
            {{#if this.last_updated}}
              <div class='meta' title='{{this.last_updated.absolute}}'>
                <i class='fa-sharp fa-regular fa-history'></i>
                <span>{{this.last_updated.relative}}</span>
              </div>
            {{/if}}
            {{#if this.duration}}
              <div class='meta' title='{{this.duration.long}}'>
                <i class='fa-sharp fa-regular fa-stopwatch'></i>
                <span>{{this.duration.short}}</span>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </a>
  {{/each}}
</div>
