<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>{{page_title}}</title>
<link href='https://cdn.jsdelivr.net/npm/nprogress@0.2/nprogress.min.css' rel='stylesheet'>
<link href='https://cdn.jsdelivr.net/npm/plyr@3.7/dist/plyr.min.css' rel='stylesheet'>
<link href='/lib.css' rel='stylesheet'>
<link href='/styles.css' rel='stylesheet'>
<script src='https://cdn.jsdelivr.net/npm/nprogress@0.2/nprogress.min.js' defer></script>
<script src='https://cdn.jsdelivr.net/npm/plyr@3.7/dist/plyr.min.js' defer></script>
<script>
  window.addEventListener('load', () => {
    // Theme toggle
    const theme_toggle = document.querySelector('#theme-toggle');
    if (theme_toggle) {
      const html = document.querySelector('html');
      theme_toggle.onclick = () => {
        html.classList.toggle('dark');
        const is_dark = html.classList.contains('dark');
        window.localStorage.setItem('theme', is_dark ? 'dark' : 'light');
        const icon = theme_toggle.querySelector('span');
        icon.classList.remove('theme_dark', 'theme_light');
        icon.classList.add(is_dark ? 'theme_light' : 'theme_dark');
      };

      if (window.localStorage.getItem('theme') === 'dark') {
        html.classList.add('dark');
        theme_toggle.querySelector('span').classList.replace('theme_dark', 'theme_light');
      }
    }

    // Preview Dialog
    const preview_dialog = document.querySelector('#preview-dialog');
    if (preview_dialog) {
      let plyr = null;

      preview_dialog.addEventListener('click', (event) => {
        if (event.target.id === 'preview-dialog') {
          preview_dialog.close();
        }
      });

      preview_dialog.querySelector('.dialog-close').addEventListener('click', () => {
        preview_dialog.close();
      });

      preview_dialog.querySelector('.dialog-new-tab').addEventListener('click', (event) => {
        event.stopPropagation();
      });

      preview_dialog.addEventListener('close', () => {
        if (typeof plyr?.destroy === 'function') plyr.destroy();
        preview_dialog.querySelector('.dialog-new-tab').setAttribute('href', '#');
        for (const node of Array.from(preview_dialog.childNodes)) {
          if (!node.classList?.contains('dialog-close') && !node.classList?.contains('dialog-new-tab')) {
            node.remove();
          }
        }
      });

      const observer = new MutationObserver(() => {
        if (preview_dialog.open) document.body.classList.add('dialog-open');
        else document.body.classList.remove('dialog-open');
      });

      observer.observe(preview_dialog, {
        attributes: true,
        attributeFilter: ['open'],
      });

      const image_thumbnails = document.querySelectorAll('.image-thumbnail');
      for (const thumbnail of image_thumbnails) {
        thumbnail.addEventListener('click', (event) => {
          event.preventDefault();

          const img = document.createElement('img');
          const src = thumbnail.dataset.src;
          preview_dialog.querySelector('.dialog-new-tab')?.setAttribute('href', src);
          img.id = 'modal-image-viewer';
          img.setAttribute('src', src);
          img.addEventListener('click', (event) => {
            event.preventDefault();
            event.stopPropagation();
            window.open(src, '_blank');
          });
          preview_dialog.appendChild(img);
          preview_dialog.showModal();
        });
      }

      const video_thumbnails = document.querySelectorAll('.video-thumbnail');
      for (const thumbnail of video_thumbnails) {
        thumbnail.addEventListener('click', (event) => {
          event.preventDefault();
          const { poster, src } = thumbnail.dataset;
          const title = thumbnail.getAttribute('title');
          preview_dialog.querySelector('.dialog-new-tab')?.setAttribute('href', src);

          const video = document.createElement('video');
          video.id = 'modal-video-player';
          video.setAttribute('controls', true);
          video.setAttribute('playsinline', true);
          preview_dialog.appendChild(video);

          plyr = new Plyr('#modal-video-player', {
            autoplay: false,
            controls: [
              'play',
              'rewind',
              'progress',
              'current-time',
              'duration',
              'fast-forward',
              'mute',
              'volume',
            ],
            keyboard: { focused: true, global: true },
            muted: true,
            title,
            tooltips: { controls: false, seek: true },
          });

          plyr.source = {
            type: 'video',
            title,
            sources: [ { src } ],
            poster,
          };

          preview_dialog.showModal();

          setTimeout(() => {
            document.querySelector('video').focus({ preventScroll: true, focusVisible: false });
          }, 0);
        });
      }
    }
  });

  window.addEventListener('beforeunload', (event) => {
    NProgress.start();
    setTimeout(() => {
      NProgress.done();
    }, 30000);
  });

  window.addEventListener('unload', (event) => {
    NProgress.done();
  });
</script>
