<meta charset='utf-8' />
<meta name='viewport' content='width=device-width, initial-scale=1' />
<title>{{page_title}}</title>
<link href='/lib.css' rel='stylesheet' type='text/css'>
<link href='/styles.css' rel='stylesheet' type='text/css'>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const theme_toggle = document.getElementById('theme-toggle');
  if (theme_toggle) {
    const theme_toggle_icon = theme_toggle.getElementsByTagName('i').item(0);
    const html = document.getElementsByTagName('html').item(0);

    theme_toggle.onclick = () => {
      html.classList.toggle('dark');
      const is_dark = html.classList.contains('dark');
      window.localStorage.setItem('theme', is_dark ? 'dark' : 'light');
      theme_toggle_icon.className = is_dark ? 'fa-sharp fa-solid fa-lightbulb-on' : 'fa-sharp fa-solid fa-lightbulb';
    };

    if (window.localStorage.getItem('theme') === 'dark') {
      html.classList.add('dark');
      theme_toggle_icon.className = 'fa-sharp fa-solid fa-lightbulb-on';
    }
  }
});
</script>
