<ul id='list-view'>
  <!--
  {{#if previous_url}}
    <li>
      <a href='{{root_url}}' title='Top Directory'>
        <span><i class='ri-arrow-up-s-line'></i></span>
        <span>Top Directory</span>
      </a>
    </li>
    <li>
      <a href='{{previous_url}}' title='Parent Directory'>
        <span><i class='ri-arrow-left-s-line'></i></span>
        <span>Parent Directory</span>
      </a>
    </li>
  {{/if}}
  -->
  {{#each files}}
    <li>
      {{#if this.external_url}}
      <a href='{{this.external_url}}' target='_blank' rel='noopener noreferrer' referrerpolicy='no-referrer'>
      {{else}}
      <a href='{{this.path}}'>
      {{/if}}
        <div class='list-main-wrapper'>
          <span class='list-view-icon'><i class='{{this.icon}}'></i></span>
          <span class='list-view-name'>{{this.name}}</span>
        </div>
        <div class='list-meta-wrapper'>
          {{#if this.duration}}
            <span class='list-view-duration meta'>
              <i class='ri-timer-line'></i> {{this.duration}}
            </span>
          {{/if}}
          <span class='list-view-last-updated meta'>
            <i class='ri-history-line'></i> {{this.last_updated}}
          </span>
        </div>
      </a>
    </li>
  {{/each}}
</ul>
