<ul id='list-view'>
  {{#each files}}
    <li>
      {{#if this.external_url}}
      <a href='{{this.external_url}}' target='_blank' rel='noopener noreferrer' referrerpolicy='no-referrer' title='{{this.name}}'>
      {{else}}
      <a
        href='{{this.path}}'
        class='{{this.type}}-thumbnail'
        title='{{this.name}}'
        {{#if (or
          (eq this.type "image")
          (eq this.type "video"))}}
          data-src='{{this.path}}'
        {{/if}}
        {{#if this.src}}
          data-poster='{{this.src}}'
        {{else if this.thumbnail}}
          data-poster='{{this.thumbnail}}'
        {{/if}}
      >
      {{/if}}
        <div class='list-main-wrapper'>
          <span class='list-view-icon'><i class='{{this.icon}}'></i></span>
          <span class='list-view-name'>{{this.name}}</span>
        </div>
        <div class='list-meta-wrapper'>
          <span class='list-view-last-updated meta'>
            {{#if this.last_updated}}
              <i class='fa-sharp fa-regular fa-history'></i> {{this.last_updated}}
            {{/if}}
          </span>
          <span class='list-view-duration meta'>
            {{#if this.duration}}
              <i class='fa-sharp fa-regular fa-stopwatch'></i> {{this.duration}}
            {{/if}}
          </span>
        </div>
      </a>
    </li>
  {{/each}}
</ul>
