<nav id='nav-desktop'>
  <a href='{{list_compact_view_url}}' aria-label='List View' class='nav-link hint--bottom hint--no-animate{{#ifEquals view_param 'list_compact'}} active{{/ifEquals}}'>
    <svg class='lucide lucide-list' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'>
      <line x1='8' x2='21' y1='6' y2='6' />
      <line x1='8' x2='21' y1='12' y2='12' />
      <line x1='8' x2='21' y1='18' y2='18' />
      <line x1='3' x2='3.01' y1='6' y2='6' />
      <line x1='3' x2='3.01' y1='12' y2='12' />
      <line x1='3' x2='3.01' y1='18' y2='18' />
    </svg>
  </a>
  <a href='{{grid_view_url}}' aria-label='Grid View' class='nav-link hint--bottom hint--no-animate{{#ifEquals view_param 'grid'}} active{{/ifEquals}}'>
    <svg class='lucide lucide-grid-2x2' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'>
      <rect width='18' height='18' x='3' y='3' rx='2'/>
      <path d='M3 12h18'/>
      <path d='M12 3v18'/>
    </svg>
  </a>

  <span class='nav-separator'></span>

  <a href='{{name_sort_url}}' aria-label='Sort By Name' class='nav-link hint--bottom hint--no-animate{{#ifEquals sort_param 'name'}} active{{/ifEquals}}'>
    <svg class='lucide lucide-arrow-down-a-z' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'>
      <path d='m3 16 4 4 4-4'/>
      <path d='M7 20V4'/>
      <path d='M20 8h-5'/>
      <path d='M15 10V6.5a2.5 2.5 0 0 1 5 0V10'/>
      <path d='M15 14h5l-5 6h5'/>
    </svg>
  </a>
  <a href='{{duration_sort_url}}' aria-label='Sort By Duration' class='nav-link hint--bottom hint--no-animate{{#ifEquals sort_param 'duration'}} active{{/ifEquals}}'>
    <svg class='lucide lucide-arrow-down-1-0' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'>
      <path d='m3 16 4 4 4-4'/>
      <path d='M7 20V4'/>
      <path d='M17 10V4h-2'/>
      <path d='M15 10h4'/>
      <rect x='15' y='14' width='4' height='6' ry='2'/>
    </svg>
  </a>
  <a href='{{last_updated_sort_url}}' aria-label='Sort By Last Updated' class='nav-link hint--bottom hint--no-animate{{#ifEquals sort_param 'last_updated'}} active{{/ifEquals}}'>
    <svg class='lucide lucide-arrow-down-wide-narrow' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'>
      <path d='m3 16 4 4 4-4'/>
      <path d='M7 20V4'/>
      <path d='M11 4h10'/>
      <path d='M11 8h7'/>
      <path d='M11 12h4'/>
    </svg>
  </a>
</nav>
