<!DOCTYPE html>
<html lang='en'>
  <head>
    {{> header page_title='File Browser'}}
  </head>

  <body>
    <a href='#' id='theme-toggle'>
      <span class='material-symbols-sharp filled theme_dark'></span>
    </a>

    <nav>
      <a href='{{list_view_url}}' aria-label='List View' class='hint--bottom hint--no-animate{{#ifEquals view_param 'list'}} active{{/ifEquals}}'>
        <span class='material-symbols-sharp outlined view_list'></span>
      </a>
      <a href='{{grid_d_view_url}}' aria-label='Grid View - Dual' class='hint--bottom hint--no-animate{{#ifEquals view_param 'grid_d'}} active{{/ifEquals}}'>
        <span class='material-symbols-sharp outlined view_grid'></span>
      </a>
      <a href='{{grid_s_view_url}}' aria-label='Grid View - Single' class='hint--bottom hint--no-animate{{#ifEquals view_param 'grid_s'}} active{{/ifEquals}}'>
        <span class='material-symbols-sharp outlined view_grid'></span>
      </a>

      <span class='nav-separator'></span>

      <a href='{{name_sort_url}}' aria-label='Sort By Name' class='hint--bottom hint--no-animate{{#ifEquals sort_param 'name'}} active{{/ifEquals}}'>
        <span class='material-symbols-sharp outlined sort_name'></span>
      </a>
      <a href='{{duration_sort_url}}' aria-label='Sort By Duration' class='hint--bottom hint--no-animate{{#ifEquals sort_param 'duration'}} active{{/ifEquals}}'>
        <span class='material-symbols-sharp outlined sort_duration'></span>
      </a>
      <a href='{{last_updated_sort_url}}' aria-label='Sort By Last Updated' class='hint--bottom hint--no-animate{{#ifEquals sort_param 'last_updated'}} active{{/ifEquals}}'>
        <span class='material-symbols-sharp outlined sort_last_updated'></span>
      </a>
    </nav>

    {{#if breadcrumbs}}
      <div id='breadcrumbs'>
        <ul>
        {{#each breadcrumbs}}
          {{#if this.skip_link}}
          <li id='current-location'>
            <span>{{this.label}}</span>
          </li>
          {{else}}
          <li>
            <a href='{{this.url}}'>{{this.label}}</a>
          </li>
          <li class='bc-separator'></li>
          {{/if}}
        {{/each}}
        </ul>
      </div>
    {{/if}}

    <main>
      {{#ifStartsWith view_param 'grid'}}
        {{> grid_view}}
      {{else}}
        {{> list_view}}
      {{/ifStartsWith}}
    </main>

    <dialog id='preview-dialog'>
      <button aria-label='Close' class='hint--bottom hint--no-animate dialog-close'>
        <span class='material-symbols-sharp outlined close'></span>
      </button>
      <a aria-label='Open in New Tab' class='hint--bottom hint--no-animate dialog-new-tab' target='_blank'>
        <span class='material-symbols-sharp outlined external_link'></span>
      </a>
    </dialog>
  </body>
</html>
