<!DOCTYPE html>
<html lang='en'>
  <head>
    {{> header page_title='File Server'}}
  </head>

  <body>
    <nav>
      <a href='{{list_view_url}}' title='List View'{{#ifEquals view_param 'list'}} class='active'{{/ifEquals}}>
        <i class='ri-list-unordered'></i>
      </a>
      <a href='{{grid_view_url}}' title='Grid View'{{#ifEquals view_param 'grid'}} class='active'{{/ifEquals}}>
        <i class='ri-layout-grid-line'></i>
      </a>

      <a href='{{name_sort_url}}' title='Sort By Name'{{#ifEquals sort_param 'name'}} class='active'{{/ifEquals}} style='margin-left: 2rem;'>
        <i class='ri-price-tag-3-line'></i>
      </a>
      <a href='{{duration_sort_url}}' title='Sort By Duration'{{#ifEquals sort_param 'duration'}} class='active'{{/ifEquals}}>
        <i class='ri-timer-line'></i>
      </a>

      <a href='{{last_updated_sort_url}}' title='Sort By Last Updated'{{#ifEquals sort_param 'last_updated'}} class='active'{{/ifEquals}}>
        <i class='ri-history-line'></i>
      </a>
    </nav>

    {{#if breadcrumbs}}
      <div id='breadcrumbs'>
        <a href='{{root_url}}' id='bc-icon'>
          <i class='ri-folder-open-line'></i>
        </a>
        <ul>
        {{#each breadcrumbs}}
          {{#if this.skip_link}}
          <li id='current-location'>
            <span>{{this.label}}</span>
          </li>
          {{else}}
          <li>
            <a href='{{this.url}}'>{{this.label}}</a>
          </li>
          <li class='bc-separator'></li>
          {{/if}}
        {{/each}}
        </ul>
      </div>
    {{/if}}

    <main>
      {{#ifEquals view_param 'grid'}}
        {{> grid_view}}
      {{else}}
        {{> list_view}}
      {{/ifEquals}}
    </main>
  </body>
</html>
