@charset "UTF-8";
@import '~@fontsource/inter/index.css';
@import '~remixicon/fonts/remixicon.css';
/* Document
 * ========================================================================== */
/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Backgrounds do not repeat by default (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  background-repeat: no-repeat; /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Breaks words to prevent overflow in all browsers (opinionated).
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Remove the grey highlight on links in iOS (opinionated).
 * 6. Prevent adjustments of font size after orientation changes in iOS.
 */
:where(:root) {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  overflow-wrap: break-word; /* 3 */
  -moz-tab-size: 4; /* 4 */
  tab-size: 4; /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
  -webkit-text-size-adjust: 100%; /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
:where(body) {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, and Safari.
 */
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 */
:where(hr) {
  color: inherit; /* 1 */
  height: 0; /* 2 */
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */
:where(nav li)::before {
  content: "​";
  float: left;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Safari.
 */
:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
:where(small) {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
:where(iframe) {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
:where(svg:not([fill])) {
  fill: currentColor;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
:where(button, input, select) {
  margin: 0;
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button, [type=button i], [type=reset i], [type=submit i]) {
  -webkit-appearance: button;
}

/**
 * Change the inconsistent appearance in all browsers (opinionated).
 */
:where(fieldset) {
  border: 1px solid #a0a0a0;
}

/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
:where(progress) {
  vertical-align: baseline;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 3. Change the resize direction in all browsers (opinionated).
 */
:where(textarea) {
  margin: 0; /* 1 */
  resize: vertical; /* 3 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
:where([type=search i]) {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
 * Add the correct display in Safari.
 */
:where(details > summary:first-of-type) {
  display: list-item;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
:where([aria-busy=true i]) {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
:where([aria-controls]) {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
:where([aria-disabled=true i], [disabled]) {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
:where([aria-hidden=false i][hidden]) {
  display: initial;
}

:where([aria-hidden=false i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/**
 * Restrict sizing to the page width in all browsers (opinionated).
 */
:where(iframe, img, input, video, select, textarea) {
  height: auto;
  max-width: 100%;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Add typography inheritance in all browsers (opinionated).
 */
:where(button, input, select, textarea) {
  background-color: transparent; /* 1 */
  border: 1px solid WindowFrame; /* 1 */
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  letter-spacing: inherit; /* 2 */
  padding: 0.25em 0.375em; /* 1 */
}

/**
 * Change the inconsistent appearance in all browsers (opinionated).
 */
:where(select) {
  appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center/1em;
  border-radius: 0;
  padding-right: 1em;
}

/**
 * Don't show the arrow for multiple choice selects
 */
:where(select[multiple]) {
  background-image: none;
}

/**
 * Remove the border and padding in all browsers (opinionated).
 */
:where([type=color i], [type=range i]) {
  border-width: 0;
  padding: 0;
}

/*
 * 1. Remove animations when motion is reduced (opinionated).
 * 2. Remove fixed background attachments when motion is reduced (opinionated).
 * 3. Remove timed scrolling behaviors when motion is reduced (opinionated).
 * 4. Remove transitions when motion is reduced (opinionated).
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important; /* 1 */
    animation-duration: 1ms !important; /* 1 */
    animation-iteration-count: 1 !important; /* 1 */
    background-attachment: initial !important; /* 2 */
    scroll-behavior: auto !important; /* 3 */
    transition-delay: 0s !important; /* 4 */
    transition-duration: 0s !important; /* 4 */
  }
}
/**
 * Add the correct system-ui font-family in Firefox.
 */
@font-face {
  font-family: system-ui;
  src: local(".AppleSystemUIFont"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("HelveticaNeue");
}
@font-face {
  font-family: system-ui;
  font-style: italic;
  src: local(".AppleSystemUIFont"), local("Segoe UI Italic"), local("Ubuntu-Italic"), local("Roboto-Italic"), local("HelveticaNeue-Italic");
}
@font-face {
  font-family: system-ui;
  font-weight: bold;
  src: local(".AppleSystemUIFont"), local("Segoe UI Bold"), local("Ubuntu-Bold"), local("Roboto-Bold"), local("HelveticaNeue-Bold");
}
@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: bold;
  src: local(".AppleSystemUIFont"), local("Segoe UI Bold Italic"), local("Ubuntu-BoldItalic"), local("Roboto-BoldItalic"), local("HelveticaNeue-BoldItalic");
}
/**
 * Use the default user interface font in all browsers (opinionated).
 */
html {
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/**
 * Use the default monospace user interface font in all browsers (opinionated).
 */
code,
kbd,
samp,
pre {
  font-family: ui-monospace, "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/**
 * Add the correct system-ui font-family in Chrome, Edge, and Firefox.
 */
@font-face {
  font-family: ui-monospace;
  src: local(".AppleSystemUIFontMonospaced-Regular"), local("Segoe UI Mono"), local("UbuntuMono"), local("Roboto-Mono"), local("Menlo");
}
@font-face {
  font-family: ui-monospace;
  font-style: italic;
  src: local(".AppleSystemUIFontMonospaced-RegularItalic"), local("Segoe UI Mono Italic"), local("UbuntuMono-Italic"), local("Roboto-Mono-Italic"), local("Menlo-Italic");
}
@font-face {
  font-family: ui-monospace;
  font-weight: bold;
  src: local(".AppleSystemUIFontMonospaced-Bold"), local("Segoe UI Mono Bold"), local("UbuntuMono-Bold"), local("Roboto-Mono-Bold"), local("Menlo-Bold");
}
@font-face {
  font-family: ui-monospace;
  font-style: italic;
  font-weight: bold;
  src: local(".AppleSystemUIFontMonospaced-BoldItalic"), local("Segoe UI Mono Bold Italic"), local("UbuntuMono-BoldItalic"), local("Roboto-Mono-BoldItalic"), local("Menlo-BoldItalic");
}
/*
 * Example Usage:
 *
 * @include desktop() {
 *   // styles that will only apply to desktop sizes
 * }
 *
 * @include mobile() {
 *   // styles that will only apply to mobile sizes
 * }
 */
/******************************************************/
* {
  font-family: "Inter", sans-serif;
}

html,
body {
  margin: 0;
  padding: 1rem;
}

a {
  color: black;
  text-decoration: none;
  display: inline-flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 20px;
  gap: 0.5rem;
}

[class^=ri-],
[class*=ri-] {
  font-size: 1.5rem;
}

nav {
  margin-bottom: 2rem;
  text-align: center;
}
nav a {
  color: #bfbfbf;
}
nav a.active {
  color: black;
}
nav a:not(:first-of-type) {
  margin-left: 0.5rem;
}
nav a [class^=ri-],
nav a [class*=ri-] {
  font-size: 2rem;
}

.meta,
.meta:hover {
  align-items: center;
  color: #888888;
  display: inline-flex;
  font-size: 0.75rem !important;
  gap: 0.25rem;
  white-space: nowrap;
}
.meta [class^=ri-],
.meta [class*=ri-],
.meta:hover [class^=ri-],
.meta:hover [class*=ri-] {
  font-size: 0.85rem !important;
}

ul#list-view {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul#list-view li {
  height: fit-content;
  width: 100%;
}
ul#list-view li:not(:last-of-type) {
  margin-bottom: 1rem;
}
ul#list-view li a {
  height: fit-content;
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  ul#list-view li a {
    border: 1px solid grey;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 767px) {
  ul#list-view li a:hover {
    border-color: black;
  }
}
ul#list-view li a:hover .meta {
  color: black;
}
@media screen and (min-width: 768px) {
  ul#list-view li a {
    flex-wrap: nowrap;
    gap: 1rem;
  }
  ul#list-view li a .list-main-wrapper {
    align-items: center;
    display: flex;
    gap: 0.75rem;
  }
  ul#list-view li a .list-meta-wrapper {
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}
@media screen and (max-width: 767px) {
  ul#list-view li a {
    flex-wrap: wrap;
  }
  ul#list-view li a .list-main-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 100%;
    gap: 0.5rem;
    width: 100%;
  }
  ul#list-view li a .list-main-wrapper span.list-view-icon {
    flex: 0 1 fit-content;
    width: fit-content;
  }
  ul#list-view li a .list-main-wrapper span.list-view-name {
    flex: 1 1 0;
    overflow-x: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    word-break: normal;
    word-wrap: normal;
  }
  ul#list-view li a .list-meta-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 100%;
    gap: 0.5rem;
    width: 100%;
    text-align: center;
  }
  ul#list-view li a .list-meta-wrapper span.meta {
    display: inline-block;
    flex: 1 0 50%;
    width: calc(50% - 0.5rem);
  }
}

div#grid-view {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}
div#grid-view > a {
  border: 1px solid grey;
  display: block;
  flex-basis: auto;
  height: 200px;
  text-align: center;
  width: 200px;
}
div#grid-view > a:hover {
  border-color: black;
}
div#grid-view > a:hover .meta {
  color: black;
}
div#grid-view > a div [class^=ri-],
div#grid-view > a div [class*=ri-] {
  font-size: 3rem;
}
div#grid-view > a.nav-card > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 100%;
  justify-content: center;
  width: 100%;
}
div#grid-view > a.nav-card > div > div {
  max-width: 100%;
  overflow-x: clip;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  word-wrap: normal;
}
div#grid-view > a.content-card > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.25rem;
  height: 100%;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
}
div#grid-view > a.content-card > div > img {
  height: auto;
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}
div#grid-view > a.content-card > div > div.thumbnail {
  flex: 1 0 0;
  height: 0;
  max-width: 100%;
  width: 100%;
}
div#grid-view > a.content-card > div > div.thumbnail > img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  width: auto;
}
div#grid-view > a.content-card > div > div.meta {
  justify-content: center;
}
div#grid-view > a.content-card > div > div:not(.thumbnail) {
  flex: 0 1 0;
  height: fit-content;
  max-width: 100%;
  overflow-x: clip;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  word-break: normal;
  word-wrap: normal;
}

@media screen and (max-width: 767px) {
  div#grid-view > a {
    flex: 0 0 calc(50% - 1rem);
    width: calc(50% - 1rem);
  }
  div#grid-view > a div {
    font-size: 1rem;
  }
  div#grid-view > a div [class^=ri-],
  div#grid-view > a div [class*=ri-] {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
