<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Resource Not Found</title>
    <link href='https://unpkg.com/sanitize.css' rel='stylesheet' type='text/css'>
    <link href='https://unpkg.com/sanitize.css/typography.css' rel='stylesheet' type='text/css'>
    <link href='/assets/styles.css' rel='stylesheet' type='text/css'>
    <link href='/assets/remixicon.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <h1>Not Found</h1>
    <a href='/' style='font-size: 1.25rem; height: max-content;'>
      <i class='ri-arrow-left-s-line'></i>
      <span>Back</span>
    </a>
  </body>
</html>
